<div class="center">
        <img src="/images/benvenuti.png" alt="la cucina Italiana, Italian Restaurant, Bingley, West Yorkshire" title="la cucina Italiana, Italian Restaurant, Bingley, West Yorkshire" />
    </div>
    <br />
    <h1>
        La Storia...... the history.....
    </h1>
    <br />
    <p>
    <span class="bold">
        "come si spendono I nostril giorno, di corso e come si spendono la nostra vita"<br />
        "how we spend our days, of course is how we spend our lives"<br />
    </span>
    <br />
    Our family restaurant opened 15 years ago in the heart of Bingley, a friendly and distinct market town in 
    the Aire Valley.  Our expertise and family dedication has seen the restaurant grow from strength to strength
    to become a much loved favourite with locals.  Our highly regarded reputation now expands throughout England.
    </p>
    <br />
    <h1>Autentico..... Authentic.....</h1>
    <p>
    We are dedicated to capturing and evoking the true essence of authentic Italian dining, an enchantment of dishes
    that never lose the distinct magic of Italian flavours.  We are committed to producing a fascinating profusion of
    traditional and regional Italian cuisine, with a great dedication on using only the finest ingredients and freshest
    produce.
    </p>
    <br />
    <h1>Mangiare..... Eating.....</h1>
    <p>
    At Valentino's we believe in "CIBO PER L'ANIMA" ("FOOD FOR THE SOUL").  The journey begins with an array of delectable
    starters (antipasti), followed by desirable and sumptous chicken, fish and meat dishes.  And of course not forgetting to
    capture the true essence of Italy with our selection of vibrant pastas and divine pizzas.  Our desserts are also made
    with the same passion thus ensuring you finish off your meal in true STILE ITALIANO (ITALIAN STYLE).
    </p>
    <br />
    <h1>Vini..... Wine....</h1>
    <p>
    Our wine list is a rich palette of regional Italian wines, accompanied by select European and new world wines and the finest
    champagnes.  To complement any occasion our wine specialist can assist you in choosing.
    </p>
    <br />
    <h1>Passione..... Passion.....</h1>
    <p>
    Our family run restaurant creates a vibrant and friendly atmosphere.  We are passionate at ensuring your time spent with us is an
    enchanting experience, with service of the highest calibre from our friendly, caring and experienced team.
    </p>
    <br />
    <h1>Famiglia..... Families.....</h1>
    <p>
    Of course, there is one sure way to keep any child entertained and happy: good food and plenty of it!!!  Being a family restaurant
    we pride ourselves in ensuring your children are welcomed and enjoy their dining experience with you.
    </p>
    <br />
    <h1>Occasioni Speciali..... Special Occasions.....</h1>
    <p>
    For any occasion enjoying great food and wine is two of lifes gret pleasures.  For an intimate and romantic lunch or evening, Valentino's
    captivates the true romance of an Italian experience.  And yet celebration parties for any occasion can experience the vibrancy of a warm
    and relaxed atmosphere.  Want to give someone special an experience of good food, wine and sincere company?.....  Gift vouchers are available.
    </p>
    <br />
    <h1>Emozione..... Emotions.....</h1>
    <p>
    Thank you for choosing Valentino's, we sincerely hope that your experience with us is one to remeber today and always.....
    </p>
    <br />
    <p class="center">
        <span class="bold">
            Grazie<br />
            E<br />
            Buon Appetito<br /><br />
            La Familiga Al Valentino
        </span>
    </p>
    <br /><br />

		<% content_for :right do %>
		<div class="center">
		    <img src="/images/openingTimes.png" alt="Valentinos Italian Restaurant, Bingley, West Yorkshire - Opening Times" title="Valentinos Italian Restaurant, Bingley, West Yorkshire - Opening Times" />
		    <br /><br />
		    <span class="openingTimesTitle">TUESDAY TO THURSDAY</span>
		    <br />
		    12:00 - 2:00PM <br />&amp;<br /> 6:00 - 10:30PM
		    <br /><br />
		    <span class="openingTimesTitle">FRIDAY &amp; SATURDAY</span>
		    <br />
		    12:00 - 2:00PM <br />&amp;<br /> 6:00 - 11:00PM
		    <br /><br />
		    <span class="openingTimesTitle">SUNDAY</span>
		    <br />
		    5:00 - 9:30PM
		</div>
		<% end %>